@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?fqe6kz');
    src:    url('fonts/icomoon.eot?fqe6kz#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?fqe6kz') format('truetype'),
        url('fonts/icomoon.woff?fqe6kz') format('woff'),
        url('fonts/icomoon.svg?fqe6kz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'mixin';
$toolbar-size:52px;
.toolbar {
	position:fixed;
	left:50%;
	bottom:5px;
	margin-left:-$toolbar-size/2;
}
.toolbar-item {
	position:relative;
	display:block;
	width:$toolbar-size;
	height:$toolbar-size;
	margin-top:1px;

	&:hover{
		.toolbar-btn{
			&:before{
				top:-$toolbar-size;
			}
			&:after{
				top:0;
			}
		}
		&:after{
			@include opacity(1);
			@include scale(1);
		}
	}

	&:after{
		content:'';
		position:absolute;
		right:$toolbar-size - 6;
		bottom:-10px;
		width:172px;
		background-image:url(../img/toolbar_img.png);
		background-repeat:no-repeat;
		@include opacity(0);
		@include transform-origin(95% 95%);
		@include scale(0.01);
		@include transition(all 1s);
	}
}
.toolbar-item-weixin {
	&:after{
		height:212px;
		background-position:0 0;
	}

	.toolbar-btn{
		&:before{
			content: "\e900";
		}
		&:after{
			content:'weixin';
		}
	}
}
.toolbar-btn {
	position:absolute;
	top:0;
	left:0;
	width:$toolbar-size;
	height:$toolbar-size;
	overflow:hidden;

	font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	&:before{//icon
		content:'';
		position:absolute;
		left:0;
		top:0;
		width:$toolbar-size;
		height:$toolbar-size;
		background:#d0d6d9;
		font-size:30px;
		color:#fff;
		text-align:center;
		line-height:$toolbar-size;
		@include transition(top 1s);
	}
	&:after{//text
		content:'';
		position:absolute;
		left:0;
		top:$toolbar-size;
		width:$toolbar-size;
		height:$toolbar-size;
		background:#98a1a5;
		font-size:12px;
		color:#fff;
		text-align:center;
		line-height:1.2;
		padding-top:12px;
		@include transition(top 1s);
	}
}
.toolbar-item-feedback {
	.toolbar-btn{
		&:before{
			content: "\e901";
		}
		&:after{
			content:'feedback';
		}
	}
}
.toolbar-item-app {
	&:after{
		height:194px;
		background-position:0 -222px;
	}

	.toolbar-btn{
		&:before{
			content: "\e905";
		}
		&:after{
			content:'down\Aload';
			white-space:pre;
		}
	}
}
.toolbar-item-top {
	.toolbar-btn{
		&:before{
			content: "\e904";
		}
		&:after{
			content:'top';
		}
	}
}