@import 'mixin';
$toolbar-size:52px;
.toolbar-item,.toolbar-btn,.toolbar-icon,.toolbar-text {
	width:$toolbar-size;
	height:$toolbar-size;
}
.toolbar-icon,.toolbar-text {
	position:absolute;
	left:0;
	color:#fff;
	@include transition(top 1s);
	text-align:center;

}
.toolbar {
	position:fixed;
	left:50%;
	bottom:0;
	margin-left: -$toolbar-size / 2;
}
.toolbar-item {
	position:relative;
	display:block;
	margin-top:1px;

	&:hover {
		.toolbar-icon {
			top:-$toolbar-size;
		}
		.toolbar-text {
			top:0;
		}

		.toolbar-layer{
			@include opacity(1);
			@include scale(1);
		}
	}
}
.toolbar-btn {
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.toolbar-icon {
	
	top:0;
	background:#d0d6d9;
	font-size:30px;
	line-height:$toolbar-size;
}
.toolbar-text {
	
	top:$toolbar-size;
	background:#98a1a6;
	font-size:12px;
	padding-top:12px;
	line-height:1.2;
	
}
.toolbar-layer {
	position:absolute;
	right:$toolbar-size - 6;
	bottom:-10px;
	width:172px;
	background-image: url(../img/toolbar.png);
  	background-repeat: no-repeat; 
  	@include opacity(0);
  	@include transform-origin(95% 95%);
  	@include scale(0.01);
  	@include transition(all 1s);
}
.toolbar-layer-weixin {
	height: 212px;
    background-position: 0 0; 
}
.toolbar-layer-app {
	height: 194px;
    background-position: 0 -222px; 
}